@import "tailwindcss";
@import "tw-animate-css";
@import "tailwind-scrollbar-hide/v4";
@import "@fontsource/reddit-sans/400.css";
@import "@fontsource/reddit-sans/500.css";

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2101 0.0318 264.6645);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2101 0.0318 264.6645);
	--primary: oklch(0.6716 0.1368 48.513);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.536 0.0398 196.028);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.967 0.0029 264.5419);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.9491 0 0);
	--accent-foreground: oklch(0.2101 0.0318 264.6645);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.9851 0 0);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(0.9276 0.0058 264.5313);
}

.dark {
	--background: oklch(0.1797 0.0043 308.1928);
	--foreground: oklch(0.8109 0 0);
	--popover: oklch(0.1797 0.0043 308.1928);
	--popover-foreground: oklch(0.8109 0 0);
	--primary: oklch(0.7214 0.1337 49.9802);
	--primary-foreground: oklch(0.1797 0.0043 308.1928);
	--secondary: oklch(0.594 0.0443 196.0233);
	--secondary-foreground: oklch(0.1797 0.0043 308.1928);
	--muted: oklch(0.252 0 0);
	--muted-foreground: oklch(0.6268 0 0);
	--accent: oklch(0.3211 0 0);
	--accent-foreground: oklch(0.8109 0 0);
	--destructive: oklch(0.594 0.0443 196.0233);
	--destructive-foreground: oklch(0.1797 0.0043 308.1928);
	--border: oklch(0.252 0 0);
	--input: oklch(0.252 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
}

body {
	@apply bg-background text-foreground;
	font-family: "Reddit Sans", sans-serif;

	* {
		@apply border-border;
	}

	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}
