# ---------- ENVIRONMENT ----------
ENVIRONMENT=local
SECRET_KEY=supersecretkey
# ---------- CORS & COOKIES ----------
COOKIE_DOMAIN=localhost
FRONTEND_HOST=http://localhost:5173
BACKEND_CORS_ORIGINS=http://localhost:8000
# ---------- CLOUD URLS ----------
DATABASE_URI=postgresql+psycopg://postgres:postgres@localhost:5432/accounts
# ---------- WEBHOOK URLS ----------
DISCORD_PAGE_REQUEST_WEBHOOK_URL=your-discord-page-request-webhook-url
DISCORD_ACCOUNT_DELETE_REQUEST_WEBHOOK_URL=your-discord-account-delete-webhook-url
# ---------- AWS ----------
AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin
AWS_S3_BUCKET_NAME=accounts-media-dev-ap-south-1
AWS_S3_ENDPOINT_URL=localhost:9000
AWS_S3_REGION_NAME=ap-south-1
# ---------- GOOGLE OAUTH ----------
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret