# ---------- GENERAL ----------
ENVIRONMENT=local
SECRET_KEY=supersecretkey
# ---------- CORS & COOKIES ----------
COOKIE_DOMAIN=localhost
FRONTEND_HOST=http://localhost:5173
BACKEND_CORS_ORIGINS=http://localhost:8000
# ---------- CLOUD URLS ----------
DATABASE_URI=postgresql+psycopg://quibble_user:quibble_pass@localhost:5432/accounts
# ---------- AWS ----------
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_S3_BUCKET_NAME=accounts-media-dev-ap-south-1
AWS_S3_ENDPOINT_URL=localhost:9000
AWS_S3_REGION_NAME=ap-south-1
