# ---------- SHARED ----------
ENVIRONMENT=local
SECRET_KEY=supersecretkey
# ---------- CORS & COOKIES ----------
COOKIE_DOMAIN=localhost
FRONTEND_HOST=http://localhost:3000
BACKEND_CORS_ORIGINS=http://localhost:8000
# ---------- POSTGRES ----------
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdb
# ---------- AWS ----------
AWS_ACCESS_KEY_ID=yourusername
AWS_SECRET_ACCESS_KEY=yourpassword
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_S3_REGION_NAME=ap-south-1
